<!DOCTYPE html>
<html ng-app="SignUpApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>014_form-validation</title>
</head>
<body ng-controller="SignUpCtrl">

<form ng-submit="signUp()" name="myForm">
    <p>
        name:
        <input type="text"
               required
               ng-model="user.name"
               ng-minlength="4"
                />
    </p>

    <p>
        email:
        <input type="email"
               required
               ng-model="user.email"
               ng-minlength="4"
                />
    </p>

    <p>
        password:
        <input type="password"
               required
               ng-model="user.secret"
               ng-minlength="4"
                />
    </p>

    <p>
        <input type="submit"
               value="Sign in"
               ng-disabled="myForm.$invalid"
                />
    </p>

    <p>
        invalid:<span ng-bind="myForm.$invalid"></span>
    </p>

    <p>
        valid:<span ng-bind="myForm.$valid"></span>
    </p>

    <p>
        pristine:<span ng-bind="myForm.$pristine"></span>
    </p>

    <p>
        dirty:<span ng-bind="myForm.$dirty"></span>
    </p>

    <p>
        error:<span ng-bind="myForm.$error"></span>
    </p>
</form>


<script type="text/javascript" src="../resources/angular/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>